section.about-section
  .wrapper
    .about-section__container
      .about-section__top
        .about-section__top-left
          img.about-section__top-logo(src="images/about-section-top-logo.png" loading="lazy" width="370" height="110" alt="logo")
          h2.about-section__title.font-w-c-bold.font-s-45.text-up
            | Подробнее 
            br.no-br
            | о нашей 
            br.no-br
            span.color-violet-second концепции
          .about-section__top-left-text.font-s-18
            | Бьюти-коворкинг представляет 
            br.no-br
            | собой пространство для 
            br.no-br
            | профессионалов в сфере красоты, 
            br.no-br
            | где каждый может арендовать 
            br.no-br
            | рабочее место для оказания 
            br.no-br
            | своих услуг.
        .about-section__top-right.font-s-16
          .about-section__top-right-item
            img.about-section__top-right-icon(src="images/about-section-top-right-icon-1.svg" loading="lazy" width="60" height="60" alt="icon")
            | Работайте в современном, 
            br.no-br
            | оборудованном и удобном 
            br.no-br
            | пространстве
          .about-section__top-right-item
            img.about-section__top-right-icon(src="images/about-section-top-right-icon-2.svg" loading="lazy" width="60" height="60" alt="icon")
            | Без забот о таких аспектах, 
            br.no-br
            | как аренда помещения, 
            br.no-br
            | ремонт или покупка 
            br.no-br
            | оборудования
      .about-section__body
        .about-section__body-left.font-w-bold.font-s-18.color-black
          img.about-section__body-left-icon(src="images/about-section-body-left-icon.png" loading="lazy" width="161" height="161" alt="icon")
          | Первый бьюти-коворкинг «DELAZZER» открылся 
          br.no-br-xxl
          | в Ногинске в 2016 году, а сегодня мы управляем 
          br.no-br-xxl
          | 3 прибыльными филиалами, где доступны кабинеты 
          br.no-br-xxl
          | для косметологов, и массажистов, парикмахерские 
          br.no-br-xxl
          | места, а также зоны для маникюра.
        .about-section__body-right.font-w-bold.font-s-18
          | Запуская бизнес в этой актуальной нише по франшизе, 
          br.no-br-xxl
          | вы можете рассчитывать на поддержку всей команды 
          br.no-br-xxl
          | «DELAZZER».
          br
          br
          | Мы поможем вам подобрать подходящее помещение, 
          br.no-br-xxl
          | приобрести оборудование по выгодным ценам, 
          br.no-br-xxl
          | грамотно его расставить и подготовить к работе. Также 
          br.no-br-xxl
          | мы поделимся с вами знаниями и опытом 
          br.no-br-xxl
          | взаимодействия с мастерами и клиентами, чтобы 
          br.no-br-xxl
          | ваше пространство стало по-настоящему популярным и 
          br.no-br-xxl
          | востребованным.
      .about-section__bottom
        .about-section__bottom-title
          img.about-section__bottom-icon(src="images/about-section-bottom-icon.png" loading="lazy" width="78" height="58" alt="icon")
          .font-w-semi-bold.font-s-20 Задайте свой вопрос в форме
        .about-section__bottom-sub-title.font-w-c-bold.font-s-32
          | Будем рады обсудить с вами 
          br.no-br
          | все условия работы по франшизе!
        form.about-section__form(data-feedback-form)
          input.input(type="text" name="answer" autocomplete="off" placeholder="Ваш вопрос")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") задать вопрос
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1050" height="1210" alt="image")
