section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-c-bold.font-s-45.text-up
        | Об основных этапах совместной 
        br.no-br
        | работы над проектом
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-1.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Заключение договора франшизы
          .steps-section__card.swiper-slide.steps-card-order-3
            img.steps-section__card-icon(src="images/steps-section-card-icon-2.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Поиск помещения и заключение <br> договора аренды
          .steps-section__card.swiper-slide.steps-card-order-5
            img.steps-section__card-icon(src="images/steps-section-card-icon-3.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Согласование дизайн-проекта
          .steps-section__card.swiper-slide.steps-card-order-7
            img.steps-section__card-icon(src="images/steps-section-card-icon-4.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Ремонт и оформление <br> помещения
          .steps-section__card.swiper-slide.steps-card-order-9
            img.steps-section__card-icon(src="images/steps-section-card-icon-5.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Поиск персонала
          .steps-section__card.swiper-slide.steps-card-order-2
            img.steps-section__card-icon(src="images/steps-section-card-icon-6.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Доставка и монтаж приобретенного <br> оборудования, мебели
          .steps-section__card.swiper-slide.steps-card-order-4
            img.steps-section__card-icon(src="images/steps-section-card-icon-7.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Формирование первичных <br> запасов товара и расходных материалов
          .steps-section__card.swiper-slide.steps-card-order-6
            img.steps-section__card-icon(src="images/steps-section-card-icon-8.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Проведение рекламных кампаний
          .steps-section__card.swiper-slide.steps-card-order-8
            img.steps-section__card-icon(src="images/steps-section-card-icon-9.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Обучение персонала
          .steps-section__card.swiper-slide.steps-card-order-10
            img.steps-section__card-icon(src="images/steps-section-card-icon-10.png" loading="lazy" width="317" height="126" alt="icon")
            .font-s-20 Официальное открытие
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-icon(src="images/steps-section-bottom-icon.png" loading="lazy" width="460" height="418" alt="icon")
        img.steps-section__bottom-arrow(src="images/steps-section-bottom-arrow.png" loading="lazy" width="79" height="115" alt="icon")
        .steps-section__bottom-block
          .font-w-bold.font-s-32 Работаем строго по договору,
          .font-s-18 в котором описаны наши обязанности и все условия сотрудничества
          button.btn.steps-section__bottom-btn(data-remodal-target="modal-form-agreement") СКАЧАТЬ ПРИМЕР ДОГОВОРА
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="974" height="1508" alt="image")
      img.steps-section__img-line-1(src="images/steps-section-img-line.png" loading="lazy" width="40" height="1258" alt="image")
      img.steps-section__img-line-2(src="images/steps-section-img-line.png" loading="lazy" width="40" height="1258" alt="image")
