.header
  &__container
    display: flex
    justify-content space-between
    align-items: center
    +above($breakpoints.sm)
      justify-content start

  &__brand
    +above($breakpoints.sm)
      display: flex
      align-items: center
      gap: 15px
    +above($breakpoints.md)
      gap: 20px
    +above($breakpoints.xxl)
      gap: 26px

  &__brand-text
    display: none
    +above($breakpoints.sm)
      display: block
      border-right: 1px solid #fff
      padding-right 15px
      margin-right 20px
    +above($breakpoints.md)
      padding-right 20px
      margin-right 25px
    +above($breakpoints.xxl)
      padding 5px 32px 5px 0
      margin-right 34px

  &__logo
    width 120px
    height: auto
    +above($breakpoints.sm)
      width 140px
    +above($breakpoints.md)
      width 160px
    +above($breakpoints.xxl)
      width 185px

  &__connection
    display: flex
    align-items: center
    gap: 3px
    +above($breakpoints.sm)
      gap: 12px
    +above($breakpoints.md)
      gap: 14px
    +above($breakpoints.xxl)
      gap: 16px

  &__connection-icon
    width 20px
    height: 20px
    +above($breakpoints.sm)
      width 25px
      height: 25px
    +above($breakpoints.md)
      width 30px
      height: 30px
    +above($breakpoints.xxl)
      width 36px
      height: 36px
