.invest-section
  background-image: url('../images/invest-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #fff

  &__container
    position relative
    padding 20px 0 1px 0
    color: #000
    +above($breakpoints.sm)
      padding 60px 0 60px 0
    +above($breakpoints.md)
      padding 90px 0 90px 0
    +above($breakpoints.xxl)
      padding 124px 0 110px 0

  &__title
    padding 0 0 15px 0
    +above($breakpoints.sm)
      padding 0 0 15px 0
    +above($breakpoints.md)
      padding 0 0 20px 0
    +above($breakpoints.xxl)
      padding 0 0 20px 0

  &__icon
    width 25px
    height: auto
    margin 15px auto
    +above($breakpoints.sm)
      width 32px
      margin 15px auto 25px
    +above($breakpoints.md)
      width 38px
      margin 20px auto 30px
    +above($breakpoints.xxl)
      margin 26px auto 36px
      width 43px

  &__cards
    +above($breakpoints.sm)
      display: flex
      justify-content center
      gap: 5px
    +above($breakpoints.md)
      gap: 10px
    +above($breakpoints.xxl)
      gap: 20px

  &__card
    width 280px !important
    border-radius: 10px
    border: 5px solid rgba(255, 255, 255, 0.15);
    +above($breakpoints.sm)
      width 238px !important
      border-radius: 15px
    +above($breakpoints.md)
      width 308px !important
      border-radius: 20px
    +above($breakpoints.xxl)
      border-radius: 25px
      width 380px !important
      height: 510px

  &__card-header
    border-radius: 20px 20px 0 0
    border: 3px solid #fff
    width 100%
    height: 60px
    display: flex
    align-items: center
    justify-content center
    text-align: center
    background-color #AC79F2
    +above($breakpoints.sm)
      height: 85px
    +above($breakpoints.md)
      border: 5px solid #fff
      height: 100px
    +above($breakpoints.xxl)
      height: 117px
      border-radius: 25px 25px 0 0

  &__card-body
    border-radius: 0 0 20px 20px
    padding 20px
    background-color #FAF6FF
    +above($breakpoints.sm)
      padding: 20px 10px 25px 10px;
    +above($breakpoints.md)
      padding 38px 10px 38px 24px
    +above($breakpoints.xxl)
      padding 43px 10px 43px 44px
      border-radius: 0 0 25px 25px

  &__card-body-text
    display: flex
    align-items: center
    gap: 10px
    margin-bottom 10px
    +above($breakpoints.sm)
      gap: 5px
    +above($breakpoints.md)
      gap: 10px
      margin-bottom 15px
    +above($breakpoints.xxl)
      margin-bottom 20px
      gap: 12px

  &__card-icon
    width 30px
    height: auto
    +above($breakpoints.sm)
      width 30px
    +above($breakpoints.md)
      width 45px
    +above($breakpoints.xxl)
      width 55px

  &__form
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    width 228px
    +above($breakpoints.sm)
      width 207px
    +above($breakpoints.md)
      width 249px
    +above($breakpoints.xxl)
      width 292px

.invest-card-color-2
  background-color #6538B7
.invest-card-color-3
  background-color #532681
